.tableContainer {
    display: flex;
    padding: 10px;
    overflow-x: auto;
}

.columnContainer {
    width: 100%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.columnTitle {
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    font-weight: 600;
    color:  rgb(25, 118, 210)
}

.tasksContainer {
    background-color: rgb(231, 235, 240);
    min-height: 300px;
    border-width: .5px;
    border-style: solid;
    border-color: rgb(166, 165, 165);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

.taskContainer {
    background-color:  rgb(255, 255, 255);
    border-radius: 5px;
    min-height: 50px;
    padding: 10px;
    margin-bottom: 20px;
    color:  rgba(0, 0, 0, 0.6)
}