.app {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleContainer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color:  rgb(231, 235, 240);
  font-weight: 600;
  margin: 0;
}
